body 
{
    color: #ffffff;
}

.bg-main-color
{
    background-color: #ff6b00;
}

.bg-main-buttom
{
    background-color:#ff6b00;
}

.bg-main-buttom:hover
{
    background-color: #f79b61;
}

.bg-color 
{
    background-color: #292828;
}

.cards 
{
    background-color: #1f1f1f;
}